<body>
<div id="header">
    <h1>Messages for user {{ uid }}</h1>
</div>
<div id="list_wrap">
    <div id="list">
        {% for m in messages %}
        <div class="msg" style="text-align: {% if m.is_response %} left {% else %} right {% endif %}">
            <span class="text">{{ m.text }}</span><span class="time">[{{ m.get_time }}]</span>
            <div class="msg_elements">
                {% for e in m.get_elements %}
                    <div class="element">
                        <h3 class="element_txt">{{ e.title }}</h3>
                        <!--<h4 class="element_txt">{{ e.subtitle }}</h4>-->
                        <img class="element_img" src="{{ e.image_url }}"/>
                    </div>
                {% endfor %}
            </div>
            <div class="msg_buttons">
            {% for b in m.get_buttons %}
                {% if b.action == 'link' %}
                    <button class="msg_btn" onclick="gourl('{{ b.url }}')">{{ b.text }}</button>
                {% elif b.action == 'reply' %}
                    <button class="msg_btn" onclick="quickreply('{{ b.text }}')">{{ b.text }}</button>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="footer">
    <form id="form_msg">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Send">
</form>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    function quickreply(text) {
        $.ajax({
                url: document.URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    message: text,
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
                }
            });
    }
    function gourl(url) {
        window.open(url, '_blank');
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#form_msg').submit(function (e) {
            e.preventDefault();
            var txt = $('#id_message');
            $.ajax({
                url: document.URL,
                type: 'POST',
                dataType: 'json',
                data: {
                    message: txt.val(),
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
                }
            });
            txt.val("")
        })
    });
</script>

<script type="text/javascript">
    $(window).load(function() {
        setTimeout(refresh, 2000);
    });

    function refresh() {
        setTimeout(refresh, 2000);
        $('#list').load(document.URL + ' #list');
        // TODO redraw only when response differs
    }
</script>
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');

    body {
        background-color: #eeeeee;
    }

    #header > h1 {
        font-family: "Roboto", sans-serif;
        text-align: center;
        font-size: x-large;
        background-color: #2196F3;
        color: white;
        padding: 24px;
        padding-right: 60vw;
        box-shadow: 0 4px 12px #777777;
        font-weight: 500;
        z-index: 10;
    }

    #list_wrap {
        background-color: white;
        padding: 20px;
        width: 80vw;
        margin: 0 auto;
        box-shadow: 0 5px 10px 10px #eaeaea;
    }

    .msg {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        padding: 2px;
        margin: 4px;
        border-bottom: 1px dashed #dddddd;
    }

    .time {
        color: #8c8c8c;
        font-weight: 400;
        font-size: small;
        clear: both;
        display: block;
    }

    #footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }

    #form_msg {
        float: right;
        font-family: Roboto, sans-serif;
        margin-right: 10%;
    }

    .msg > .text {}

    .msg > .text + .time {
        display: none;
    }

    .msg > .text:hover + .time {
        display: inline-block;
        position: absolute;
        background-color: #6c6c6c;
        color: white;
        padding: 10px;
        border-radius: 8px;
    }

    .msg_btn {
        background-color: #eeeeee;
        padding: 6px;
        margin: 5px 5px;
        border: none;
        border-radius: 8px;
    }

    .msg_btn:focus, .msg_btn:hover {
        background-color: #dddddd;
    }

    .element {
        height: 150px;
        width: 200px;
        position: relative;
        overflow: visible;
        background: #ececec;
        border: solid 2px #dddddd;
        margin: 5px;
    }

    .element_img {
        position: absolute;
        width: auto;
        height:70%;
        left: 0;
        top: 0;
    }

    .element_txt {
        z-index: 100;
        color: #555;
        position: relative;
        font-weight: 400;
        left:0;
        top: 70%;
        width: auto;
        height: 30%;
    }

    .msg_elements {
        width: 100%;
        display: inline-flex;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }

    input[type='submit'] {
        background-color: #00B0FF;
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Roboto", 'sans-serif';
        color: white;
        box-shadow: 5px 5px 5px #ccc;
        border: none;
        border-radius: 2px;
        padding: 12px;
    }

    input[type="text"] {
        padding: 10px;
        border: none;
        border-bottom: 1px solid #bcbcbc;
        font-family: "Roboto", 'sans-serif';
        background-color: transparent;
        color: #777777;
        -webkit-transition: box-shadow 0.3s, border 0.3s;
        -moz-transition: box-shadow 0.3s, border 0.3s;
        -ms-transition: box-shadow 0.3s, border 0.3s;
        -o-transition: box-shadow 0.3s, border 0.3s;
        transition: box-shadow 0.3s, border 0.3s;
    }

    #form_msg > label {
        color: transparent;
    }
    
    input[type="text"]:focus {
        border-bottom: 2px solid #777;
        color: #222222;
        -webkit-transition: border 0.3s;
        -moz-transition: border 0.3s;
        -ms-transition: border 0.3s;
        -o-transition: border 0.3s;
        transition: border 0.3s;
    }

</style>
